<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
    <style>
        @import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

        body, html {{
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            left: 0;
            top: 0;
            font-size: 100%
        }}

        .center, .container {{
            margin-left: auto;
            margin-right: auto
        }}

        * {{
            font-family: Lato,Helvetica,sans-serif;
            color: #333447;
        }}

        h1 {{
            font-size: 2.5rem
        }}

        h2 {{
            font-size: 2rem;
            margin-top:0px;
            margin-bottom:0px;
        }}

        h3 {{
            font-size: 1.375rem
        }}

        h4 {{
            font-size: 1.125rem
        }}

        h5 {{
            font-size: 1rem
        }}

        h6 {{
            font-size: .875rem
        }}

        p {{
            font-size: 1.125rem;
            font-weight: 200;
            margin-top:10px;
            margin-bottom:10px;
        }}

        .font-light {{
            font-weight: 300
        }}

        .font-regular {{
            font-weight: 400
        }}

        .font-heavy {{
            font-weight: 700
        }}

        .left {{
            text-align: left
        }}

        .right {{
            text-align: right
        }}

        .center {{
            text-align: center
        }}

        .justify {{
            text-align: justify
        }}

        .container {{
            width: 90%
        }}

        .row {{
            position: relative;
            width: 100%
        }}

            .row [class^=col] {{
                float: left;
                margin: .5rem 2%;
                min-height: .125rem
            }}

        .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {{
            width: 96%
        }}

        .col-1-sm {{
            width: 4.33%
        }}

        .col-2-sm {{
            width: 12.66%
        }}

        .col-3-sm {{
            width: 21%
        }}

        .col-4-sm {{
            width: 29.33%
        }}

        .col-5-sm {{
            width: 37.66%
        }}

        .col-6-sm {{
            width: 46%
        }}

        .col-7-sm {{
            width: 54.33%
        }}

        .col-8-sm {{
            width: 62.66%
        }}

        .col-9-sm {{
            width: 71%
        }}

        .col-10-sm {{
            width: 79.33%
        }}

        .col-11-sm {{
            width: 87.66%
        }}

        .col-12-sm {{
            width: 96%
        }}

        .row::after {{
            content: "";
            display: table;
            clear: both
        }}

        .hidden-sm {{
            display: none
        }}

        @media only screen and (min-width:33.75em) {{
            .container {{
                width: 80%
            }}
        }}

        @media only screen and (min-width:45em) {{
            .col-1 {{
                width: 4.33%
            }}

            .col-2 {{
                width: 12.66%
            }}

            .col-3 {{
                width: 21%
            }}

            .col-4 {{
                width: 29.33%
            }}

            .col-5 {{
                width: 37.66%
            }}

            .col-6 {{
                width: 46%
            }}

            .col-7 {{
                width: 54.33%
            }}

            .col-8 {{
                width: 62.66%
            }}

            .col-9 {{
                width: 71%
            }}

            .col-10 {{
                width: 79.33%
            }}

            .col-11 {{
                width: 87.66%
            }}

            .col-12 {{
                width: 96%
            }}

            .hidden-sm {{
                display: block
            }}
        }}

        @media only screen and (min-width:60em) {{
            .container {{
                width: 75%;
                max-width: 60rem
            }}
        }}
        .logo > img {{
            max-width: 250px;
        }}
        .top-number {{
            font-weight: bold;
            font-size: 1.125rem;
        }}
        .details-container {{
            margin-top:75px;
        }}
        .details-container > .address > p {{
            margin-top:0px;
            margin-bottom:0px;
        }}
        .details-container > .info > p {{
            margin-top: 0px;
            margin-bottom: 0px;
        }}
        .main {{
            border: 1px solid black;
            min-height:1200px;
            margin-top:25px !important;
        }}
        .header {{
            margin-top:25px;
        }}

        .invoice-breakdown h1 {{
margin-bottom:0;
        }}
        .invoice-table {{
            width:100%;
            border:1px solid black;
            border-radius:10px;
        }}

        .headline {{
            width:100%;
        }}
        .headline th {{
          font-size:18px;
        }}
        th {{
            text-align:left;
        }}
        th,td {{
          padding:2px 5px;
        }}
        .footer {{
        }}
        hr {{
          border:0;
          border-bottom:4px dotted #434343;
        }}

        @media screen and (max-width:520px) {{

          .mobile-table th, .mobile-table td {{
            display: block;
          }}
          .table-header {{
            display: none;
          }}
          .model::before {{
            content:"MODEL: ";
            font-weight:bold;
          }}
          .terminaltype::before {{
            content:"TERMINAL TYPE: ";
            font-weight:bold;
          }}
          .terminalid::before {{
            content:"TERMINAL ID: ";
            font-weight:bold;
          }}
          .chargeperiod::before {{
            content:"CHARGE PERIOD: ";
            font-weight:bold;
          }}
          .vatcode::before {{
            content:"VAT CODE: ";
            font-weight:bold;
          }}
          .charge::before {{
            content:"CHARGE: ";
            font-weight:bold;
          }}
          .charge {{
            margin-bottom:15px;
          }}
		  .div-wrapper {{
			position: relative;
			padding-right: 25px;
			height: 200px;
			width: 600px;
			}}

			.div-wrapper img {{
				position: absolute;
				right: 0;
				bottom: 0;
			}}
        }}
    </style>
</head>
<body>
    <div class="container main">
        <div class="row header">
			<div style="width: 100%; display: table;">
				<div style="display: table-row">
					<div style="width: 600px; display: table-cell;"> 
						<div>
							<img src="C:\Users\seana\Source\Repos\payzone\Resources\logo.png" alt="Payzone Logo" />
						</div>
					</div>
					<div style="display: table-cell;"> 
						<div>
							<h2>Got any questions?</h2>
							<p>Please call our Customer Services team on ... <span class="top-number">01606 566 600</span></p>
							<br/>
							<p>When calling please quote your Head Office or Outlet ID.</p>
							<p>Calls may be monitored or recorded for staff training purposes</p>
						</div>
					</div>
				</div>
			</div>
        </div>
		<br>
		<br>
		<div style="width: 95%; display: table; padding-left: 50px">
			<div style="display: table-row">
				<div style="width: 600px; display: table-cell;">            
					<div class="col-5">
						<p>{0}</p>
						<p>{1}</p>
						<p>{2}</p>
						<br/>
						<p>{3}, {4}</p>
						<p>{5}</p>
					</div>
				</div>
				<div style="display: table-cell;">            
					<div class="col-5">
						<p><span class="top-number"> Invoice date:</span>{6}</p>
						<p><span class="top-number"> Invoice number:</span>{7}</p>
						<p><span class="top-number"> Invoice period:</span>{9} to {10}</p>
					</div>
				</div>
			</div>
		</div>
        <div class="row details-container">
        </div>
        <div class="invoice-breakdown">
            <div class="row">
                <div class="col-12">
                    <h1>Your Payzone Invoice</h1>
                </div>
                <div class="col-6">
                    <table class="invoice-table">
                        <tr class="headline">
                            <th colspan="5">Terminal Rental Charges...      <hr></th>
                                <th>&nbsp;<hr></th>
                        </tr>

                        <tr class='table-header'>
							<th>MODEL</th>
                            <th>TERMINAL TYPE</th>
                            <th>TERMINAL ID</th>
                            <th>CHARGE PERIOD</th>
                            <th>VAT CODE</th>
                            <th>CHARGE</th>
                        </tr>
												
						{14}
						
						{15}
						
						{16}
						
						{17}
						
						{18}

                        <tr class="headline">
                            <th colspan="5"><hr>Sub Total:</th>
                            <th><hr>£{11}</th>
                        </tr>
                    </table>
                </div>
            </div>
			<div style="width: 100%; display: table; padding-left: 25px">
				<div style="display: table-row">
					<div style="width: 600px; display: table-cell; padding-right: 75px"> 
						<div>
							<p><span class="top-number">
								YOUR PAYZONE CHARGES WILL BE DEDUCTED BY DIRECT
								DEBIT FROM YOUR NOMINATED BANK ACCOUNT ON, OR
								AROUND, 15TH OF EACH MONTH.
							</span></p>
							<p>We are moving to e-mail invoicing to deliver your invoice
							more quickly and to protect our environment. Future invoices
							will be delivered to the e-mail address you provided when
							you signed for our service</p>
						</div>
					</div>
					<div style="display: table-cell; padding-right: 25px">
						<div class="row">
							<div>
								<table class="invoice-table">
									<tr>
										<td>Total Net</td>
										<td></td>
										<th>£{11}</th>
									</tr>
									<tr>
										<td>Total VAT</td>
										<td>Net</td>
										<td>VAT</td>
									</tr>
									<tr>
										<td>S = Standard @ 20.00%</td>
										<td>£{11}</td>
										<th>£{13}</th>
									</tr>
									<tr>
										<th><hr>TOTAL AMOUNT DUE</th>
										<td><hr>&nbsp;</td>
										<th><hr>£{12}</th>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
		<div style="width: 100%; display: table; padding-left: 25px; padding-right: 25px">
			<div style="display: table-row">
				<div style="width: 800px; display: table-cell;">
					<div>
						<h3>Payzone opening hours...</h3>
						<p>08:00-19:00 Mon-Fri, 09:00-17:00 Sat, 09:00-13:00 Sun. All bank holidays 09:00-17:00.</p>
						<p>Closed Christmas Day & New Year's Day.</p>
						<p><span class="top-number">Registered Office:</span> Payzone UK Limited, Andmore House, Cheshire Business Park, Lostock, Cheshire CW9 7YL</p>
						<p>Registered in England and Wales with company number 3102137, VAT registered number 974 9782 45.</p>
					</div>
				</div>
				<div style="display: table-cell;" class="div-wrapper">
					<div>
						<img src="http://www.payzone.co.uk/media/2759/invoice-html-logo.png" alt="logo"/>
					</div>
				</div>
			</div>
		</div>
    </div>
</body>
</html>
