<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>$title</title><style>
<!--@media only screen and (max-device-width: 480px), 
   only screen and (max-width: 640px) and (-webkit-min-device-pixel-ratio: 1.1), 
   only screen and (-webkit-min-device-pixel-ratio: 2.1)
    {{
       [class~=hide], [class~=hide] * {{ display: none !important; }} 
}}
 --></style><style id="editor_required_block" type="text/css">body,html{{Margin:0!important;padding:0!important;width:100%!important}}
*{{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}}
div[style*="margin: 16px 0"]{{margin:0!important}}
table,td{{mso-table-lspace:0!important;mso-table-rspace:0!important}}
table{{border-spacing:0!important;border-collapse:collapse!important;table-layout:auto!important}}
img{{-ms-interpolation-mode:bicubic}}
.yshortcuts a{{border-bottom:none!important}}
.mobile-link--footer a,a[x-apple-data-detectors]{{color:inherit!important;text-decoration:underline!important}}
.email-width,.row{{Margin:0 auto!important}}
img.ee_noresponsiveresize{{max-width:100%!important}}
@media only screen and (min-device-width:768px) and (max-device-width:1024px){{.stack-column{{Margin:0 -2px}}
}}
@media screen and (max-width:504px){{.row .stack-column{{display:block!important;width:100%!important;max-width:100%!important;direction:ltr!important;min-width:100%!important}}
body .ee-show-on-desktop{{display:none!important}}
table .ee-hide-on-desktop{{display:table;max-height:none;visibility:visible;width:100%!important}}
.email-width{{width:100vw!important}}
}}
@media only screen and (min-width:505px){{.row .stack-column{{min-width:0!important}}
.ee-show-on-desktop{{display:block!important}}
table.ee-show-on-desktop{{display:table!important}}
.ee_columns.ee-hide-on-desktop,.ee_element.ee-hide-on-desktop{{display:none!important}}
}}
[owa] .no-stack-column,[owa] .stack-column{{Margin:0 -2px;float:none;display:inline-block!important}}
.stack-column{{min-width:0!important}}
body .stack-column{{min-width:100%!important}}
[owa] .ee-show-on-desktop{{display:block!important}}
[owa] table.ee-show-on-desktop{{display:table!important}}
.ee-hide-on-desktop{{visibility:hidden;width:0!important;max-height:0;display:block}}
body .ee-hide-on-desktop{{visibility:visible;width:100%!important;display:table;max-height:none}}
#MessageViewBody .ee-show-on-desktop{{display:none!important}}</style><style id="editor_required_inline" type="text/css" ee-render="inline">.visually-hidden{{display:none;font-size:1px;line-height:1px;max-height:0;max-width:0;opacity:0;overflow:hidden;mso-hide:all;font-family:sans-serif}}
.break-word,.stack-col,.stack-column,.stack-column-row{{display:inline-block}}
.banner-img{{border:0;width:100%;max-width:100%;height:auto;vertical-align:bottom}}
.background-image-txt{{background-position:center center!important;background-size:cover!important}}
td.row-container{{padding:0;text-align:center;height:100%;vertical-align:top;width:100%}}
.stack-col,.stack-column{{width:600px;vertical-align:top}}
.no-stack-col,.no-stack-column{{display:inline-block;vertical-align:top;float:left}}
.col-font-reset,.font-reset{{font-size:14px;text-align:left}}
.break-word{{word-wrap:break-word!important;word-break:break-word;word-break:break-all!important}}
.text-center{{text-align:center}}
.margin-0-auto{{margin:0 auto}}
.border-0{{border:0}}
.border-collapse{{border-collapse:collapse}}
.width-100{{width:100%}}
.margin-auto{{Margin:auto}}
.mso-height-rule-exactly{{mso-height-rule:exactly}}
.f-size-0{{font-size:0}}
.ee_externaldccontent{{font-size:initial}}
.table-layout-fixed{{table-layout:fixed!important}}
ul li{{margin:0}}
.ee-show-on-desktop{{display:none}}
.ee_columns.dc-content-hide-on-desktop,.ee_columns.dc-content-hide-on-desktop *,.ee_columns.ee-hide-on-desktop,.ee_columns.ee-hide-on-desktop *,.ee_element.dc-content-hide-on-desktop,.ee_element.dc-content-hide-on-desktop *,.ee_element.ee-hide-on-desktop,.ee_element.ee-hide-on-desktop *{{mso-hide:all}}</style><!--[if mso]>
       <style>
           * {{font-family: sans-serif !important;}}
           .button-wrapper {{ padding: 12px 16px 12px 16px; }}
       </style>
   <![endif]--><!--[if mso 9]>
   <style type="text/css">
       .stack-column{{
           width:100%!important;
       }}
       .no-stack-column{{
           width:100%!important;
       }}
   </style>
   <![endif]--><!--[if mso]>
       <style>
       .no-stack-column{{
           width:100%!important;
       }}
       .stack-column{{
          width:100%!important;
       }}
       </style>
   <![endif]--><!--[if mso]>
       <style>
       .banner{{
           width:900 !important;
       }}
       </style>
   <![endif]--><style id="editor_required_emailwidth" type="text/css" ee-render="inline">.email-full-width{{width:100%}}
.email-body{{min-width:100%}}
.email-width,.row{{max-width:660px}}
.row.one-cols{{max-width:auto}}
.row .row{{max-width:100%}}
.row .row .row-inner{{border-width:0;padding:0}}
.row .row .row-inner.ee_basketcontent,.row .row .row-inner.ee_productcontent{{padding:10px}}
.col-inner,.sub-sub-col-inner{{border-width:0;padding:0}}
.element-pad{{padding:10px}}
.element-pad.root-element-pad{{padding:10px 20px}}
.el-pad{{padding:10px}}
.el-pad.root-el-pad{{padding:10px 20px}}
.row-inner{{border-width:0;padding:0 10px}}
.row-inner.ee_basketcontent,.row-inner.ee_productcontent{{padding:10px}}
.banner-padding,.bg-img-txt-text,.hero-image-padding{{padding:0}}
.el-bord,.element-bord{{border-width:0}}
.one-cols>tbody>tr>td>.no-stack-column,.one-cols>tbody>tr>td>.stack-column{{width:100%;min-width:100%;max-width:640px}}
.root.one-cols>tbody>tr>td>{{width:660px}}
.two-cols>tbody>tr>td>.stack-column{{max-width:50%;min-width:100%;width:50%}}
.two-cols>tbody>tr>td>.no-stack-column{{min-width:50%;max-width:50%;width:50%}}
.three-cols>tbody>tr>td>.stack-column{{max-width:33.333%;min-width:100%;width:33.333%}}
.three-cols>tbody>tr>td>.no-stack-column{{min-width:33.333%;max-width:33.333%;width:33.333%}}
.four-cols>tbody>tr>td>.stack-column{{max-width:25%;min-width:100%;width:25%}}
.four-cols>tbody>tr>td>.no-stack-column{{min-width:25%;max-width:25%;width:25%}}
.five-cols>tbody>tr>td>.stack-column{{max-width:20%;min-width:100%;width:20%}}
.five-cols>tbody>tr>td>.no-stack-column{{min-width:20%;max-width:20%;width:20%}}
.six-cols>tbody>tr>td>.stack-column{{max-width:16.667%;min-width:100%;width:16.667%}}
.six-cols>tbody>tr>td>.no-stack-column{{min-width:16.667%;max-width:16.667%;width:16.667%}}
.seven-cols>tbody>tr>td>.stack-column{{max-width:14.286%;min-width:100%;width:14.286%}}
.seven-cols>tbody>tr>td>.no-stack-column{{min-width:14.286%;max-width:14.286%;width:14.286%}}
.eight-cols>tbody>tr>td>.stack-column{{max-width:12.5%;min-width:100%;width:12.5%}}
.eight-cols>tbody>tr>td>.no-stack-column{{min-width:12.5%;max-width:12.5%;width:12.5%}}
.background-image-txt-mso{{width:680px;height:175px;background-position:center center!important}}
.bg-img-txt-width{{max-width:500px}}
.col-font-reset,.ee_element,.font-reset{{min-width:100%}}
.button-wrapper{{min-width:auto}}</style><style ee-render="block"><!--
.ExternalClass p{{ MARGIN: 0px; }}
.button-td:hover .button-a {{ transition: all 100ms ease-in; background: rgba(255, 255, 255, 0.2) !important; }}
--></style><style type="text/css" ee-render="inline" ee-base="">
.ExternalClass p {{ MARGIN: 0px; }}
.ee_editable p, .ee_editable li, .ee_editable td, .ee_editable a, .ee_editable font {{ word-wrap: break-word; word-break: break-word; }}
.ee_element .button-container.button-left {{ text-align: left; }}
.ee_element .button-container.button-left .button-wrapper {{ float: left; }}
.ee_element .button-container.button-right {{ text-align: right; }}
.ee_element .button-container.button-right .button-wrapper {{ float: right; }}
.ee_element .button-container.button-center {{ text-align: center; }}
.ee_element .button-container.button-center .button-wrapper {{ float: none; margin: 0 auto; }}
.ee_element .button-container.button-full-width {{ text-align: center; }}
.ee_element .button-container.button-full-width .button-wrapper {{ width: 100%; display: table; }}
.button-wrapper {{ text-align: center; display: inline-block; }}
.button-td .button-a, .button-td .ee_editable.button-a {{color: #fff; margin-bottom: 0; }}
.button-td .button-a a, .button-td .ee_editable.button-a a {{color:inherit; text-align: inherit; display: block; height: 100%; }}
.button-td .button-a a font, .button-td .ee_editable.button-a a font {{color:inherit; word-break: break-word; word-wrap: break-word; }}
-->
</style><style ee-render="inline" ee-styles=""><!--
/* Auto-generated style block.  Only edit if you know what you are doing! */
.base-styles {{ color: #333333; font-family: Arial, sans-serif; font-size: 14px; line-height: 22px; Margin: 0px; }}
body, td {{ font-family: Arial, sans-serif; }}
.ee_editable, .ee_editable td {{ color: #333333; font-size: 14px; line-height: 22px; }}
.ee_editable p {{ Margin: 0px; }}
.ee_editable .h1, .h1.ee_editable {{ font-size: 24px; font-weight: bold; color: #333333; line-height: 34px; }}
.ee_editable .h2, .h2.ee_editable {{ font-size: 22px; font-weight: normal; color: #333333; line-height: 31px; }}
.ee_editable .h3, .h3.ee_editable {{ font-size: 18px; font-weight: normal; color: #333333; line-height: 29px; }}
.ee_editable .h4, .h4.ee_editable {{ font-size: 16px; font-weight: bold; }}
.ee_editable p.disclaimer {{ font-size: 14px; color: #3a3a3a; line-height: 22px; text-align: left; }}
.button-td.Default.definition {{ color: #ffffff; font-family: Arial, sans-serif; font-size: 14px; font-style: normal; font-weight: bold; line-height: 20px; text-align: center; border: 0px solid #000000; border-radius: 3px; padding: 8px 15px; align-items: flex-start; background: #333333; text-decoration: none; }}
.button-container {{ text-align: left; }}
.button-container .button-wrapper {{ float: left; }}
.button-container  .button-td {{ border-radius: 3px; background: #333333; }}
.button-container  .button-td .button-a, .button-container .ee_editable.button-a {{ color: #ffffff; line-height: 140%; text-align: center; }}
.button-container  .button-td .button-a a, .button-container .ee_editable.button-a a {{ color: #ffffff; font-family: Arial, sans-serif; font-size: 14px; font-style: normal; font-weight: bold; line-height: 140%; text-align: center; border: 0px solid #000000; border-radius: 3px; padding: 8px 15px; text-decoration: none; }}
--></style></head>
<body><!-- Easy Editor -->


 
 
 






<table width="100%" height="100%" class="border-collapse ee_responsive_campaign" style="background-color: rgb(255, 255, 255); table-layout: auto;" border="0" cellspacing="0" cellpadding="0" ee-template-version="2.3" ee-show-font-styles="" ee-mobile-first="true">
  <tbody>
    <tr>
      <td valign="top"><center class="width-100">
          
          <!--  FULL WIDTH CONTENT: START --> 
          
          <!-- EMAIL BODY : START -->
          <table width="100%" align="center" class="email-body" style="background-color: rgb(204, 204, 204); table-layout: auto;" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td class="email-full-width margin-0-auto" style="line-height: 0%;"><!--[if (gte mso 9)|(IE)]>
                <table cellspacing="0" cellpadding="0" border="0" style="width:660px;" width="660" align="center">
                <tr>
                <td>
                <![endif]-->
                  
                  <table width="100%" align="center" class="email-width" style="table-layout: auto;" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td><!-- ROW CONTAINER : BEGIN -->
                          
                          <table width="100%" style="table-layout: auto;" border="0" cellspacing="0" cellpadding="0" valign="top">
                            <tbody>
                              <tr>
                                <td class="row-container"><!--[if mso]>
                                <table border="0" cellspacing="0" cellpadding="0" align="center" style="width:660px;" width="660">
                                <tr>
                                <td align="center" valign="top" style="width:660px;" width="660">
                                <![endif]--> 
                                  <!-- ROWS : START -->
                                  
                                  <div class="ee_dropzone"><table cellpadding="0" cellspacing="0" class="ee_element ee_textelement col-font-reset" width="100%" ee-type="element" data-title="Text" style="background-color: rgb(204, 204, 204); table-layout: auto;"><tbody><tr><td valign="top" align="left" class="element-pad element-bord root-element-pad"><div class="ee_editable"><p style="line-height: 22px; text-align: center;"><font style="font-size: 10px; font-family: &quot;Trebuchet MS&quot;, Helvetica, Arial, sans-serif; color: rgb(0, 0, 0);"><a href="https://$CANTREAD$" style="text-decoration: underline; color: rgb(0, 0, 0); font-size: 10px; font-family: &quot;Trebuchet MS&quot;, Helvetica, Arial, sans-serif;">View in browser</a> | </font><a href="https://$FORWARD$" style="color: rgb(0, 0, 0); text-decoration: underline; font-size: 10px; font-family: &quot;Trebuchet MS&quot;, Helvetica, Arial, sans-serif;">Forward to a friend</a></p></div></td></tr></tbody></table><table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" class="row ee_columns three-cols ee_element" ee-type="container" data-title="Columns" style="position: relative; background-color: rgb(255, 255, 255);table-layout: auto;"><tbody><tr><td align="center" valign="top" class="row-inner f-size-0 element-pad" dir="ltr"><!--[if mso]><table border="0" cellspacing="0" cellpadding="0" align="center" style="width:640px;" width="640" class="mso-table-width"><tr><td align="left" valign="top" style="width:213.9453125px;" width="213.9453125" class="mso-column-width"><![endif]--><div class="stack-column stack-column-width" ee-percent-width="33.3333" style="max-width: 33.43%; min-width: 100%; width: 33.43%;"><table cellspacing="0" cellpadding="0" border="0" width="100%" style="table-layout: auto;"><tbody><tr><td dir="ltr" class="col-inner ee_dropzone" align="left"><table width="100%" class="ee_element ee_imageelement col-font-reset" style="table-layout: auto;" border="0" cellspacing="0" cellpadding="0" data-title="Image" ee-type="element">
                        <tbody>
                            <tr>
                                <td align="left" class="element-pad element-bord">
                                    <center class="ved_ctr"><img class="ee_editable ee_noresponsiveresize vedpw194" style="width: 194px; min-height: auto; display: inline-block; margin-left: 0px; margin-right: 0px; margin-top: 0px; vertical-align: bottom; height: auto;" src="https://i.emlfiles.com/cmpimg/1/0/7/8/8/files/8413205_pzcmykprimarypinklandscapelogo.png" border="0" ee-width="222" width="194"></center>
                                </td>
                            </tr>
                        </tbody>
                    </table></td></tr></tbody></table></div><!--[if mso]></td><td align="left" valign="top" style="width:160.3125px;" width="160.3125" class="mso-column-width"><![endif]--><div class="stack-column stack-column-width" ee-percent-width="25" style="max-width: 25.05%; min-width: 100%; width: 25.05%;"><table cellspacing="0" cellpadding="0" border="0" width="100%" style="table-layout: auto;"><tbody><tr><td dir="ltr" class="col-inner ee_dropzone" align="left"></td></tr></tbody></table></div><!--[if mso]></td><td align="left" valign="top" style="width:265.59375px;" width="265.59375" class="mso-column-width"><![endif]--><div class="stack-column stack-column-width" ee-percent-width="41.55" style="max-width: 41.5%; min-width: 100%; width: 41.5%;"><table cellspacing="0" cellpadding="0" border="0" width="100%" style="table-layout: auto;"><tbody><tr><td dir="ltr" class="col-inner ee_dropzone" align="left"><table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" class="row two-cols ee_columns ee_element ee_imageandtext ee-show-on-desktop" ee-type="element" data-title="Image &amp; text" style="position: relative;table-layout: auto;"><tbody><tr><td align="center" valign="top" class="row-inner f-size-0 col-inner element-pad" dir="ltr" style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;"><!--[if mso]><table border="0" cellspacing="0" cellpadding="0" align="center" style="width:265.5px;" width="265.5" class="mso-table-width"><tr><td align="left" valign="top" style="width:116.578125px;" width="116.578125" class="mso-column-width"><![endif]--><!-- STACK COLUMN : BEGIN --><div class="no-stack-column no-stack-column-width" ee-percent-width="44" style="max-width: 43.91%; min-width: 43.91%; width: 43.91%;"><table cellspacing="0" cellpadding="0" border="0" width="100%" style="table-layout: auto;"><tbody><tr><td dir="ltr" class="col-inner"><table cellspacing="0" cellpadding="0" border="0" width="100%" class="col-font-reset" style="table-layout: auto;"><tbody><tr><td align="left" class="element-pad element-bord" style=""><img src="https://r1-scaler.ddglib.com/vedimage/cmpimg/1/0/7/8/8/files/8990086_yellow_phone.jpg?w=65&amp;cid=9298042&amp;uid=88701" alt="" style="width: 63.9px; display: block; max-width: 100%; height: auto;" class="ee_editable ee_smallimage  vedpw97" ee-width="49" border="0" align="right" width="64"></td></tr></tbody></table></td></tr></tbody></table></div><!-- STACK COLUMN : END --><!--[if mso]></td><td align="left" valign="top" style="width:148.7265625px;" width="148.7265625" class="mso-column-width"><![endif]--><!-- STACK COLUMN : BEGIN --><div class="no-stack-column no-stack-column-width" ee-percent-width="55.93" style="max-width: 56.02%; min-width: 56.02%; width: 56.02%;"><table cellspacing="0" cellpadding="0" border="0" width="100%" style="table-layout: auto;"><tbody><tr><td dir="ltr" class="col-inner"><table cellspacing="0" cellpadding="0" border="0" width="100%" class="col-font-reset" style="table-layout: auto;"><tbody><tr><td align="left" class="element-pad element-bord" style="padding-top: 10px;padding-right: 0px;padding-bottom: 10px;padding-left: 0px;"><div class="ee_editable"><p style="line-height: 35px;"><b><font style="font-size: 22px;">01606 566 600</font></b></p></div></td></tr></tbody></table></td></tr></tbody></table></div><!-- STACK COLUMN : END --><!--[if mso]></td></tr></table><![endif]--></td></tr></tbody></table></td></tr></tbody></table></div><!--[if mso]></td></tr></table><![endif]--></td></tr></tbody></table><table width="100%" class="ee_element ee_spacer col-font-reset" style="background-color: rgb(255, 255, 255);table-layout: auto;" border="0" cellspacing="0" cellpadding="0" data-title="Spacer" ee-type="element"><tbody><tr><td style="font-size: 1px; line-height: 1px;"><img width="1" height="15" style="display: block; width: 1px; height: 15px;" alt="" src="https://i.emlfiles.com/cmpimg/t/s.gif" border="0"></td></tr></tbody></table><table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" class="row two-cols ee_columns ee_element" ee-type="container" data-title="Columns" style="position: relative; background-color: rgb(243, 243, 243);table-layout: auto;"><tbody><tr><td align="center" valign="top" class="row-inner f-size-0 element-pad" dir="ltr"><!--[if mso]><table border="0" cellspacing="0" cellpadding="0" align="center" style="width:640px;" width="640"><tr><td align="left" valign="top" style="width:320px;" width="320"><![endif]--><!-- STACK COLUMN : BEGIN --><div class="stack-column stack-column-width" ee-percent-width="50" style="max-width: 50%; min-width: 100%; width: 50%;"><table cellspacing="0" cellpadding="0" border="0" width="100%" style="table-layout: auto;"><tbody><tr><td dir="ltr" class="col-inner ee_dropzone" align="left"><table width="100%" class="ee_element ee_spacer col-font-reset" style="background-color: rgb(243, 243, 243); table-layout: auto;" border="0" cellspacing="0" cellpadding="0" data-title="Spacer" ee-type="element"><tbody><tr><td style="font-size: 1px; line-height: 1px;"><img width="1" height="15" style="display: block; width: 1px; height: 15px;" alt="" src="https://i.emlfiles.com/cmpimg/t/s.gif" border="0"></td></tr></tbody></table><table cellpadding="0" cellspacing="0" class="col-font-reset ee_element ee_textelement" width="100%" ee-type="element" data-title="Text" style="table-layout: auto;"><tbody><tr><td valign="top" align="left" class="element-pad element-bord"><div class="ee_editable" style="position: static;"><p style="line-height: 42px; text-align: center;"><font color="#b80060" face="Trebuchet MS, Helvetica, Arial, sans-serif"><span style="font-size: 36px;"><b><br></b></span></font></p><p style="line-height: 42px; text-align: center; margin: 0px; font-size: 36px;"><font color="#b80060" face="Trebuchet MS, Helvetica, Arial, sans-serif"><span style="font-size: 36px;"><b>Thank you for choosing Payzone</b></span></font></p></div></td></tr></tbody></table></td></tr></tbody></table></div><!-- STACK COLUMN : END --><!--[if mso]></td><td align="left" valign="top" style="width:320px;" width="320" class="column"><![endif]--><!-- STACK COLUMN : BEGIN --><div class="stack-column stack-column-width" ee-percent-width="50" style="max-width: 50%; min-width: 100%; width: 50%;"><table cellspacing="0" cellpadding="0" border="0" width="100%" style="table-layout: auto;"><tbody><tr><td dir="ltr" class="col-inner ee_dropzone" align="left"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="col-font-reset ee_element ee_imageelement" ee-type="element" data-title="Image" style="table-layout: auto;"><tbody><tr><td align="left" class="element-pad element-bord" style="padding-top: 10px;padding-right: 0px;padding-bottom: 10px;padding-left: 0px;"><center class="ved_ctr"><img src="https://i.emlfiles.com/cmpimg/1/0/7/8/8/files/8834056_cardmachines.png" alt="" style="width: 59.375%; display: inline-block; height: auto; margin-left: 0px; margin-right: 0px; margin-top: 0px; vertical-align: bottom;" class="ee_editable vedpw320" ee-width="190" border="0" width="190"></center></td></tr></tbody></table></td></tr></tbody></table></div><!-- STACK COLUMN : END --><!--[if mso]></td></tr></table><![endif]--></td></tr></tbody></table><table width="100%" class="ee_element ee_textelement col-font-reset" style="background-color: rgb(255, 255, 255);table-layout: auto;" cellspacing="0" cellpadding="0" data-title="Text" ee-type="element"><tbody><tr><td align="left" class="element-pad element-bord root-element-pad" valign="top"><div class="ee_editable" style="position: static;"><p class="p1" style="font-family: &quot;trebuchet ms&quot;, helvetica, arial, sans-serif; line-height: 22px;"><b><font style="font-size: 16px;">Please find attached your monthly invoice from Payzone UK Ltd.</font></b></p><p class="p1" style="font-family: &quot;trebuchet ms&quot;, helvetica, arial, sans-serif; margin: 0px; font-size: 14px; line-height: 15px;"><br></p><p class="p1" style="font-family: &quot;trebuchet ms&quot;, helvetica, arial, sans-serif; margin: 0px; font-size: 14px; line-height: 15px;">Your most recent invoice is now ready, and you will find it attached to this email.&nbsp;</p><p class="p1" style="font-family: &quot;trebuchet ms&quot;, helvetica, arial, sans-serif; margin: 0px; font-size: 14px; line-height: 15px;"><br></p><p class="p1" style="font-family: &quot;trebuchet ms&quot;, helvetica, arial, sans-serif; margin: 0px; font-size: 14px; line-height: 15px;">On the invoice we have hopefully made it clear to you the breakdown of your charges, and the date your payment will be taken from your account.</p><p class="p1" style="font-family: &quot;trebuchet ms&quot;, helvetica, arial, sans-serif; margin: 0px; font-size: 14px; line-height: 15px;"><br></p><p class="p1" style="font-family: &quot;trebuchet ms&quot;, helvetica, arial, sans-serif; margin: 0px; font-size: 14px; line-height: 15px;">We're here to help, if you need any further support regarding the charges you have received please call our Customer Service&nbsp;team on <b>01606 566 600</b>.</p><p class="p1" style="font-family: &quot;trebuchet ms&quot;, helvetica, arial, sans-serif; margin: 0px; font-size: 14px; line-height: 15px;"><br></p><p class="p1" style="font-family: &quot;trebuchet ms&quot;, helvetica, arial, sans-serif; margin: 0px; font-size: 14px; line-height: 15px;"><br></p><p class="p1" style="font-family: &quot;trebuchet ms&quot;, helvetica, arial, sans-serif; margin: 0px; font-size: 14px; line-height: 15px;">Yours sincerely,</p><p class="p1" style="font-family: &quot;trebuchet ms&quot;, helvetica, arial, sans-serif; margin: 0px; font-size: 14px; line-height: 15px;"><br></p><p class="p1" style="font-family: &quot;trebuchet ms&quot;, helvetica, arial, sans-serif; margin: 0px; font-size: 14px; line-height: 15px;">Payzone</p><p style="text-align: center; line-height: 39px; font-family: &quot;trebuchet ms&quot;, helvetica, arial, sans-serif; margin: 0px; font-size: 26px;"><b style="color: rgb(184, 0, 96);"></b></p></div></td></tr></tbody></table><table width="100%" class="ee_element ee_textelement col-font-reset" style="background-color: rgb(255, 255, 255);table-layout: auto;" cellspacing="0" cellpadding="0" data-title="Text" ee-type="element"><tbody><tr><td align="left" class="element-pad element-bord root-element-pad" valign="top"><div class="ee_editable" style="position: static;"><p style="text-align: center; font-family: &quot;Trebuchet MS&quot;, Helvetica, Arial, sans-serif; line-height: 22px;"><b style=""><font style="font-size: 24px; color: rgb(184, 0, 96);">Thank you for your business</font></b></p><p style="text-align: left; font-family: &quot;Trebuchet MS&quot;, Helvetica, Arial, sans-serif; margin: 0px; font-size: 16px;"></p><p style="text-align: center; margin: 0px; font-family: Tahoma, Geneva, sans-serif; font-size: 16px;"></p></div></td></tr></tbody></table><table width="100%" border="0" cellpadding="0" cellspacing="0" class="ee_element ee_imageelement col-font-reset" ee-type="element" data-title="Image" style="background-color: rgb(255, 255, 255);table-layout: auto;">
                        <tbody>
                            <tr>
                                <td align="left" class="element-pad element-bord root-element-pad">
                                    <center class="ved_ctr"><img src="https://i.emlfiles.com/cmpimg/1/0/7/8/8/files/8990077_dotted_line.png" style="width: 13.2258%; min-height: auto; display: inline-block; height: auto; max-width: 100%; margin-left: 0px; margin-right: 0px; margin-top: 0px; vertical-align: bottom;" class="ee_editable ee_smallimage ee_pnggif_image vedpw620" border="0" ee-width="82" width="82"></center>
                                </td>
                            </tr>
                        </tbody>
                    </table><table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" class="row ee_columns three-cols ee_element" ee-type="container" data-title="Columns" style="position: relative; background-color: rgb(184, 0, 96); table-layout: auto;"><tbody><tr><td align="center" valign="top" class="row-inner f-size-0 element-pad" dir="ltr"><!--[if mso]><table border="0" cellspacing="0" cellpadding="0" align="center" style="width:640px;" width="640" class="mso-table-width"><tr><td align="left" valign="top" style="width:213.9453125px;" width="213.9453125" class="mso-column-width"><![endif]--><div class="stack-column stack-column-width" ee-percent-width="33.3333" style="max-width: 33.43%; min-width: 100%; width: 33.43%;"><table cellspacing="0" cellpadding="0" border="0" width="100%" style="table-layout: auto;"><tbody><tr><td dir="ltr" class="col-inner ee_dropzone" align="left"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="ee_element ee_imageelement col-font-reset ee-show-on-desktop" ee-type="element" data-title="Image" style="table-layout: auto;">
                        <tbody>
                            <tr>
                                <td align="left" class="element-pad element-bord" style="font-size: 1px; line-height: 1px;">
                                    <img src="https://i.emlfiles.com/cmpimg/1/0/7/8/8/files/8995880_newpzrgbreversedlandscapelogo.png" style="width: 80.617%; min-height: auto; display: block; height: auto;" class="ee_editable vedpw194" ee-width="156" border="0" width="156">
                                </td>
                            </tr>
                        </tbody>
                    </table></td></tr></tbody></table></div><!--[if mso]></td><td align="left" valign="top" style="width:212.984375px;" width="212.984375" class="mso-column-width"><![endif]--><div class="stack-column stack-column-width" ee-percent-width="33.3333" style="max-width: 33.28%; min-width: 100%; width: 33.28%;"><table cellspacing="0" cellpadding="0" border="0" width="100%" style="table-layout: auto;"><tbody><tr><td dir="ltr" class="col-inner ee_dropzone" align="left"></td></tr></tbody></table></div><!--[if mso]></td><td align="left" valign="top" style="width:212.984375px;" width="212.984375" class="mso-column-width"><![endif]--><div class="stack-column stack-column-width" ee-percent-width="33.333333333333336" style="max-width: 33.28%; min-width: 100%; width: 33.28%;"><table cellspacing="0" cellpadding="0" border="0" width="100%" style="table-layout: auto;"><tbody><tr><td dir="ltr" class="col-inner ee_dropzone" align="left"></td></tr></tbody></table></div><!--[if mso]></td></tr></table><![endif]--></td></tr></tbody></table>
                                  </div>
                                  
                                  <!-- ROWS : END --> 
                                  <!--[if mso]>
                                </td>
                                </tr>
                                </table>
                                <![endif]--></td>
                              </tr>
                            </tbody>
                          </table>
                          
                          <!-- ROW CONTAINER : END --></td>
                      </tr>
                    </tbody>
                  </table>
                  
                  <!--[if (gte mso 9)|(IE)]>
                </td>
                </tr>
                </table>
                <![endif]--></td>
              </tr>
            </tbody>
          </table>
          <!-- EMAIL BODY: END --> 
          
          <!--- EMAIL BODY : START -->
          <table width="100%" align="center" class="email-body" style="background-color: rgb(204, 204, 204); table-layout: auto;" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td class="email-full-width margin-0-auto"><!--[if (gte mso 9)|(IE)]>
                <table cellspacing="0" cellpadding="0" border="0" style="width:660px;" width="660" align="center">
                <tr>
                <td>
                <![endif]-->
                  
                  <table width="100%" align="center" class="email-width" style="table-layout: auto;" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td><!-- ROW CONTAINER : BEGIN -->
                          
                          <table width="100%" style="table-layout: auto;" border="0" cellspacing="0" cellpadding="0" valign="top">
                            <tbody>
                              <tr>
                                <td class="row-container"><!--[if mso]>
                                <table border="0" cellspacing="0" cellpadding="0" align="center" style="width:660px;" width="660">
                                <tr>
                                <td align="center" valign="top" style="width:660px;" width="660">
                                <![endif]--> 
                                  <!--- ROWS : START -->
                                  
                                  <div class="ee_dropzone"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="ee_element ee_imageelement col-font-reset ee-show-on-desktop" ee-type="element" data-title="Image" style="table-layout: auto;">
                        <tbody>
                            <tr>
                                <td align="left" class="element-pad element-bord root-element-pad">
                                    <center class="ved_ctr"><img src="https://i.emlfiles.com/cmpimg/1/0/7/8/8/files/8990084_payzone_icon.png" style="width: 5.16129%; min-height: auto; display: inline-block; height: auto; max-width: 100%; margin-left: 0px; margin-right: 0px; margin-top: 0px; vertical-align: bottom;" class="ee_editable ee_smallimage ee_pnggif_image vedpw620" border="0" ee-width="32" width="32"></center>
                                </td>
                            </tr>
                        </tbody>
                    </table><table cellpadding="0" cellspacing="0" class="ee_element ee_textelement col-font-reset" width="100%" ee-type="element" data-title="Text" style="table-layout: auto;"><tbody><tr><td valign="top" align="left" class="element-pad element-bord root-element-pad"><div class="ee_editable"><p style="text-align: center; line-height: 14px;"><font style="font-family: trebuchet ms, helvetica, arial, sans-serif; font-size: 10px;">Payzone UK Limited is officially licensed by Mastercard and Visa International as an Independent Sales Organisation and Member Service Provider, and works in association with a number of Merchant Acquiring Providers who undertake the processing of card transactions.</font><br></p></div></td></tr></tbody></table>
                                    
                                  <table width="100%" class="ee_element ee_textelement col-font-reset" style="table-layout: auto;" cellspacing="0" cellpadding="0" data-title="Text" ee-type="element"><tbody><tr><td align="left" class="element-pad element-bord root-element-pad" valign="top"><div class="ee_editable" style="position: static;"><p style="margin: 0px; font-size: 10px; line-height: 16px; font-family: trebuchet ms, helvetica, arial, sans-serif; text-align: center;">Company Reg No. 3102137 | <a href="http://www.payzone.co.uk" style="color: rgb(51, 51, 51); text-decoration: underline;">www.payzone.co.uk</a></p><p style="margin: 0px; font-size: 10px; line-height: 16px; font-family: trebuchet ms, helvetica, arial, sans-serif; text-align: center;"><a href="https://$UNSUB$" style="color: rgb(51, 51, 51); text-decoration: underline;">Unsubscribe</a><br></p></div></td></tr></tbody></table></div>
                                  
                                  <!-- ROWS : END --> 
                                  <!--[if mso]>
                                </td>
                                </tr>
                                </table>
                                <![endif]--></td>
                              </tr>
                            </tbody>
                          </table>
                          
                          <!-- ROW CONTAINER : END --></td>
                      </tr>
                    </tbody>
                  </table>
                  
                  <!--[if (gte mso 9)|(IE)]>
                </td>
                </tr>
                </table>
                <![endif]--></td>
              </tr>
            </tbody>
          </table>
          <!-- EMAIL BODY: END --> 
          
          <!--  FULL WIDTH CONTENT: END -->
          
        </center></td>
    </tr>
  </tbody>
</table></body></html>